##### [실습] titanic 승객 데이터 활용

**컬럼 설명** 
- PassengerId - 승객 고유번호
- Survived - 생존유무(target 값) (0 = 사망, 1 = 생존)
- Pclass - 티켓 클래스 (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name - 탑승객 성명
- Sex - 성별 (male: 남성, female: 여성)
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Ticket - 티켓 넘버
- Fare - 탑승 요금
- Cabin - 객실 넘버
- Embarked - 탑승 항구 (C: Cherbourg, Q: Queenstown, S: Southampton)

In [60]:
import pandas as pd

In [61]:
# titanic.csv 파일 로드
df = pd.read_csv('/Users/uii/eda_practice/data/titanic.csv')

# titanic 데이터셋의 메타 데이터 확인
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

- 기초문제

In [62]:
# 1. 전체 승객 중 생존자의 수와 사망자의 수를 구하여 출력
counts = df['Survived'].value_counts()

print(f"사망자 수: {counts.get(0, 0)}")
print(f"생존자 수: {counts.get(1, 0)}")

사망자 수: 549
생존자 수: 342

In [63]:
# 2. 승객 나이의 평균 출력
print(df['Age'].mean())

29.69911764705882

In [64]:
# 3. 1등급 승객 중 운임이 가장 높은 승객의 이름 출력
first = df[df['Pclass'] == 1]
print(first.loc[first['Fare'].idxmax(), 'Name'])

Ward, Miss. Anna

In [65]:
# 4. 여성 승객의 수를 구하여 출력
print(df[df['Sex'] == 'female'].shape[0])

314

In [66]:
# 5. 운임이 50 이상인 승객의 이름과 운임 출력
print(df[df['Fare'] >= 50][['Name', 'Fare']])

                                                  Name      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000
6                              McCarthy, Mr. Timothy J   51.8625
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
..                                                 ...       ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
867               Roebling, Mr. Washington Augustus II   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

[161 rows x 2 columns]

In [67]:
# 6. 나이가 18세 미만인 승객들의 생존율을 계산하여 출력
age = df[df['Age'] < 18]
print(age['Survived'].mean() * 100)

53.98230088495575

In [68]:
# 7. 2등급 객실에 탑승한 승객의 평균 운임을 계산하여 출력
second = df[df['Pclass'] == 2]
print(second['Fare'].mean())

20.662183152173913

In [69]:
# 8. 승객 중 나이가 가장 많은 사람의 나이와 이름을 출력
max_age = df['Age'].idxmax()
print(f'이름: {df.loc[max_age, 'Name']}')
print(f'나이: {df.loc[max_age, 'Age']}')

이름: Barkworth, Mr. Algernon Henry Wilson
나이: 80.0

In [70]:
# 9. S 항구에서 탑승한 승객의 수를 출력
print(df[df['Embarked'] == 'S'].shape[0])

644

In [71]:
# 10. 3등급 객실에 탑승한 남성 승객 중 생존자의 수를 출력
male = df[(df['Pclass'] == 3) & (df['Sex'] == 'male')]
print(male['Survived'].sum())

47

- 고급문제

In [72]:
# 1. 생존자(Survived)와 그렇지 않은 사람들의 `Pclass`(객실 등급)별 평균 나이를 각각 출력
print(df.groupby(['Survived', 'Pclass'])['Age'].mean())

Survived  Pclass
0         1         43.695312
          2         33.544444
          3         26.555556
1         1         35.368197
          2         25.901566
          3         20.646118
Name: Age, dtype: float64

In [73]:
# 2. `SibSp`(형제/배우자 수)가 3 이상인 승객들 중에서, `Fare`(운임) 상위 5명의 이름과 나이를 출력
print(df[df['SibSp'] >= 3].sort_values(by='Fare', ascending=False).head(5)[['Name', 'Age']])

                                  Name   Age
88          Fortune, Miss. Mabel Helen  23.0
341     Fortune, Miss. Alice Elizabeth  24.0
27      Fortune, Mr. Charles Alexander  19.0
863  Sage, Miss. Dorothy Edith "Dolly"   NaN
324           Sage, Mr. George John Jr   NaN

In [74]:
# 3. 승객 중에서 `Age` 값이 결측치(NaN)인 사람들의 `Embarked`(탑승 항구)별 분포를 출력
print(df[df['Age'].isnull()]['Embarked'].value_counts())

Embarked
S    90
Q    49
C    38
Name: count, dtype: int64

In [75]:
# 4. 나이가 16세 미만이고, 혼자 탑승한(`SibSp == 0` and `Parch == 0`) 승객의 이름과 성별, 생존 여부를 출력
solo16 = df[(df['Age'] < 16) & (df['SibSp'] == 0) & (df['Parch'] == 0)]
print(solo16[['Name', 'Sex', 'Survived']])

                                     Name     Sex  Survived
14   Vestrom, Miss. Hulda Amanda Adolfina  female         0
22            McGowan, Miss. Anna "Annie"  female         1
731              Hassan, Mr. Houssein G N    male         0
777         Emanuel, Miss. Virginia Ethel  female         1
780                  Ayoub, Miss. Banoura  female         1
875      Najib, Miss. Adele Kiamie "Jane"  female         1

In [76]:
# 5. 1등급(Pclass == 1) 객실에 탑승한 승객들 중에서, 운임(Fare)이 평균보다 높은 사람들의 이름과 나이, 운임을 출력
first_class = df[df['Pclass'] == 1]
fare = first_class['Fare'].mean()

print(fare)
print(first_class[first_class['Fare'] > fare][['Name', 'Age', 'Fare']])

84.1546875
                                                  Name   Age      Fare
27                      Fortune, Mr. Charles Alexander  19.0  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)   NaN  146.5208
88                          Fortune, Miss. Mabel Helen  23.0  263.0000
118                           Baxter, Mr. Quigg Edmond  24.0  247.5208
195                               Lurette, Miss. Elise  58.0  146.5208
..                                                 ...   ...       ...
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  43.0  211.3375
802                Carter, Master. William Thornton II  11.0  120.0000
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  52.0   93.5000
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)   NaN   89.1042
856         Wick, Mrs. George Dennick (Mary Hitchcock)  45.0  164.8667

[66 rows x 3 columns]

In [77]:
# 6. 나이(Age), 객실 등급(Pclass), 운임(Fare) 값에 결측치가 없는 승객들만 대상으로, 각 등급별 평균 운임과 중앙값 운임을 출력
df = df.dropna(subset=['Age', 'Pclass', 'Fare'])
print(df.groupby('Pclass')['Fare'].agg(average_fare='mean', median_fare='median'))

        average_fare  median_fare
Pclass
1          87.961582      69.3000
2          21.471556      15.0458
3          13.229435       8.0500

In [78]:
# 7. 승객들의 `Embarked` 별 평균 나이를 계산하고, 가장 많은 승객이 탑승한 항구를 기준으로 생존율을 계산하여 출력

print(df.groupby('Embarked')['Age'].mean())

embarked = df['Embarked'].value_counts().idxmax()
survival = df[df['Embarked'] == embarked]['Survived'].mean()

print(embarked)
print(survival * 100)

Embarked
C    30.814769
Q    28.089286
S    29.445397
Name: Age, dtype: float64
S
36.28158844765343

In [79]:
# 8. 승객 중에서 여성(`Sex == 'female'`)이면서 30세 이상인 사람들의 생존율을 계산하여 출력
female_30 = df[(df['Sex'] == 'female') & (df['Age'] >= 30)]
print(female_30['Survived'].mean() * 100)

80.7017543859649

In [80]:
# 9. 동반한 형제 또는 배우자 수(`SibSp`)와 부모 또는 자녀 수(`Parch`)의 합이 3 이상인 승객들만을 대상으로, 그들의 생존율을 계산하여 출력

family3 = df[df['SibSp'] + df['Parch'] >= 3]
print(family3['Survived'].mean() * 100)

39.743589743589745

In [81]:
# 10. `Cabin`(객실 번호) 정보가 있는 승객들만을 대상으로, 그들의 생존율을 객실 등급별로 구분하여 계산하여 출력
df = df[df['Cabin'].notnull()]
survival = df.groupby('Pclass')['Survived'].mean()

for i, j  in survival.items():
    print(i)
    print(j * 100)

1
67.5
2
80.0
3
50.0