##### [실습] titanic 승객 데이터 활용

In [162]:
import pandas as pd
import numpy as np

**컬럼 설명** 
- PassengerId - 승객 고유번호
- Survived - 생존유무(target 값) (0 = 사망, 1 = 생존)
- Pclass - 티켓 클래스 (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name - 탑승객 성명
- Sex - 성별 (male: 남성, female: 여성)
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Ticket - 티켓 넘버
- Fare - 탑승 요금
- Cabin - 객실 넘버
- Embarked - 탑승 항구 (C: Cherbourg, Q: Queenstown, S: Southampton)

In [163]:
# titanic.csv 파일 로드
data = pd.read_csv('./data/titanic.csv')
df = pd.DataFrame(data)
# titanic 데이터셋의 메타 데이터 확인

df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

- 기초문제

In [164]:
# 1. 전체 승객 중 생존자의 수와 사망자의 수를 구하여 출력
survival_num = len(df[df['Survived']==1])
death_num = len(df[df['Survived']==0])

print(f'생존자 수 : {survival_num} , 사망자 수 : {death_num}')

생존자 수 : 342 , 사망자 수 : 549

In [165]:
# 2. 승객 나이의 평균 출력
print(df['Age'].mean())

29.69911764705882

In [166]:
# 3. 1등급 승객 중 운임이 가장 높은 승객의 이름 출력

print(df[(df['Pclass']==1)&(df['Fare']==max(df['Fare']))]['Name'])


names = df[(df['Pclass']==1)&(df['Fare']==max(df['Fare']))]['Name']
for name in names:
    print(name)

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object
Ward, Miss. Anna
Cardeza, Mr. Thomas Drake Martinez
Lesurer, Mr. Gustave J

In [167]:
# 4. 여성 승객의 수를 구하여 출력
print(df[df['Sex']=='female']['Sex'].size)

# print(len(df[df['Sex']=='female']))
# print(df[df['Sex']=='female']['Sex'].count())

314

In [168]:
# 5. 운임이 50 이상인 승객의 이름과 운임 출력
print(df[df['Fare']>=50][['Name','Fare']])

                                                  Name      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000
6                              McCarthy, Mr. Timothy J   51.8625
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
..                                                 ...       ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
867               Roebling, Mr. Washington Augustus II   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

[161 rows x 2 columns]

In [169]:
# 6. 나이가 18세 미만인 승객들의 생존율을 계산하여 출력

eighteen_nums = df[df['Age']<18]
survived_num = df[(df['Age']<18) & (df['Survived']==1)]
print(len(survived_num) / len(eighteen_nums))

0.5398230088495575

In [170]:
# 7. 2등급 객실에 탑승한 승객의 평균 운임을 계산하여 출력

print(np.mean(df[df['Pclass']==2]['Fare']))
# print(df[df['Pclass']==2]['Fare'].mean())

20.662183152173913

In [171]:
# 8. 승객 중 나이가 가장 많은 사람의 나이와 이름을 출력

print(df.sort_values(by='Age',ascending=False).head(1)[['Age','Name']])

      Age                                  Name
630  80.0  Barkworth, Mr. Algernon Henry Wilson

In [172]:
# 9. S 항구에서 탑승한 승객의 수를 출력

print(len(df[df['Embarked']=='S']))

644

In [173]:
# 10. 3등급 객실에 탑승한 남성 승객 중 생존자의 수를 출력

print(len(df[(df['Pclass']==3)& (df['Survived']==1)]))

119

- 고급문제

In [174]:
# 1. 생존자(Survived)와 그렇지 않은 사람들의 `Pclass`(객실 등급)별 평균 나이를 각각 출력

survival = df[df['Survived']==1].groupby('Pclass')['Age'].mean()
death = df[df['Survived']==0].groupby('Pclass')['Age'].mean()

print(f'[생존자들] Pclass 1 : {survival.values[0]}, Pclass 2 : {survival.values[1]}, Pclass 3 : {survival.values[2]}')
print(f'[사망자들] Pclass 1 : {death.values[0]}, Pclass 2 : {death.values[1]}, Pclass 3 : {death.values[2]}')
# print(survival, death)

[생존자들] Pclass 1 : 35.36819672131148, Pclass 2 : 25.90156626506024, Pclass 3 : 20.646117647058823
[사망자들] Pclass 1 : 43.6953125, Pclass 2 : 33.544444444444444, Pclass 3 : 26.555555555555557

In [175]:
# 2. `SibSp`(형제/배우자 수)가 3 이상인 승객들 중에서, `Fare`(운임) 상위 5명의 이름과 나이를 출력

siblings = df[df['SibSp']>=3]
print(siblings.sort_values(by='Fare',ascending= False).head(5)[['Name','Age']])

                               Name   Age
27   Fortune, Mr. Charles Alexander  19.0
88       Fortune, Miss. Mabel Helen  23.0
341  Fortune, Miss. Alice Elizabeth  24.0
159      Sage, Master. Thomas Henry   NaN
180    Sage, Miss. Constance Gladys   NaN

In [176]:
# 3. 승객 중에서 `Age` 값이 결측치(NaN)인 사람들의 `Embarked`(탑승 항구)별 분포를 출력
import matplotlib.pyplot as plt
df1= pd.DataFrame(data)
df1['Age']= df1['Age'].fillna(0)
display(df1[df1['Age']==0].groupby(by='Embarked').count())
# 히스토그램으로 출력

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin
Embarked,,,,,,,,,,,
C,38,38,38,38,38,38,38,38,38,38,4
Q,49,49,49,49,49,49,49,49,49,49,2
S,90,90,90,90,90,90,90,90,90,90,13

In [177]:
# 4. 나이가 16세 미만이고, 혼자 탑승한(`SibSp == 0` and `Parch == 0`) 승객의 이름과 성별, 생존 여부를 출력

print(df[(df['Age']<16) & (df['SibSp'] == 0 ) & (df['Parch']== 0)][['Name','Sex','Survived']])

                                     Name     Sex  Survived
14   Vestrom, Miss. Hulda Amanda Adolfina  female         0
22            McGowan, Miss. Anna "Annie"  female         1
731              Hassan, Mr. Houssein G N    male         0
777         Emanuel, Miss. Virginia Ethel  female         1
780                  Ayoub, Miss. Banoura  female         1
875      Najib, Miss. Adele Kiamie "Jane"  female         1

In [178]:
# 5. 1등급(Pclass == 1) 객실에 탑승한 승객들 중에서, 운임(Fare)이 평균보다 높은 사람들의 이름과 나이, 운임을 출력

print(df[(df['Pclass']==1) & ( df['Fare']> df['Fare'].mean())][['Name','Age','Fare']])

                                                  Name   Age      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0   53.1000
6                              McCarthy, Mr. Timothy J  54.0   51.8625
23                        Sloper, Mr. William Thompson  28.0   35.5000
27                      Fortune, Mr. Charles Alexander  19.0  263.0000
..                                                 ...   ...       ...
853                          Lines, Miss. Mary Conover  16.0   39.4000
856         Wick, Mrs. George Dennick (Mary Hitchcock)  45.0  164.8667
867               Roebling, Mr. Washington Augustus II  31.0   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0   83.1583

[159 rows x 3 columns]

In [179]:
# 6. 나이(Age), 객실 등급(Pclass), 운임(Fare) 값에 결측치가 없는 승객들만 대상으로, 각 등급별 평균 운임과 중앙값 운임을 출력

df1= df[['Age','Pclass','Fare']].dropna(axis=0).reset_index(drop=True)
result = df1.groupby('Pclass').agg({
    'Fare': ['mean','median']
})
print(result)

             Fare
             mean   median
Pclass
1       87.961582  69.3000
2       21.471556  15.0458
3       13.229435   8.0500

In [310]:
# 7. 승객들의 `Embarked` 별 평균 나이를 계산하고, 가장 많은 승객이 탑승한 항구를 기준으로 생존율을 계산하여 출력

# 평균 나이
print(df.groupby('Embarked')['Age'].mean())

#가장 많은 승객이 탑승한 항구 생존율 계산
idx = df.groupby('Embarked')['Age'].mean().argsort()[::-1].min()
print(len(df[(df['Embarked']=='C') & (df['Survived']==1)]) / len(df[df['Embarked']=='C']))

Embarked
C    30.814769
Q    28.089286
S    29.445397
Name: Age, dtype: float64
0.5535714285714286

In [189]:
# 8. 승객 중에서 여성(`Sex == 'female'`)이면서 30세 이상인 사람들의 생존율을 계산하여 출력

base = df[(df['Sex']=='female') & (df['Age']>=30)]
base_num = len(base)
print(len(base[base['Survived']==1])/ base_num)

0.8070175438596491

In [ ]:
# 9. 동반한 형제 또는 배우자 수(`SibSp`)와 부모 또는 자녀 수(`Parch`)의 합이 3 이상인 승객들만을 대상으로, 그들의 생존율을 계산하여 출력

df_SP = df.copy()
df_SP['Sum'] = df_SP[['SibSp','Parch']].sum(axis=1)   # 합계를 따로 Sum 으로 저장

print( len(df_SP[(df_SP['Sum']>=3) & (df_SP['Survived']==1)])/ len(df_SP[df_SP['Sum']>=3]))

0.34065934065934067

In [301]:
# 10. `Cabin`(객실 번호) 정보가 있는 승객들만을 대상으로, 그들의 생존율을 객실 등급별로 구분하여 계산하여 출력

import numpy as np
df10= pd.DataFrame(data)
df10 =  df10[['Cabin','Survived','Pclass']].dropna()
result = df10.groupby(['Pclass','Survived']).count().values.reshape(3,2)

for idx,x in enumerate(result):
    print(f'객실 등급 {idx+1} 생존율 : {x[1] / (x[0]+x[1])}')

객실 등급 1 생존율 : 0.6647727272727273
객실 등급 2 생존율 : 0.8125
객실 등급 3 생존율 : 0.5