##### [실습] titanic 승객 데이터 활용

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import matplotlib
import seaborn as sns

In [8]:
# 한글 폰트 사용을 위한 설정
import matplotlib.font_manager as fm
import matplotlib

font_path = 'C:\\Windows\\Fonts\\batang.ttc'
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)

**컬럼 설명** 
- PassengerId - 승객 고유번호
- Survived - 생존유무(target 값) (0 = 사망, 1 = 생존)
- Pclass - 티켓 클래스 (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name - 탑승객 성명
- Sex - 성별 (male: 남성, female: 여성)
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Ticket - 티켓 넘버
- Fare - 탑승 요금
- Cabin - 객실 넘버
- Embarked - 탑승 항구 (C: Cherbourg, Q: Queenstown, S: Southampton)

In [9]:
# titanic.csv 파일 로드
# titanic 데이터셋의 메타 데이터 확인
df = pd.read_csv('./data/titanic.csv')

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

- 기초문제

In [10]:
# 1. 전체 승객 중 생존자의 수와 사망자의 수를 구하여 출력

print("1. 생존자(1)와 사망자(0) 수:")
print(df['Survived'].value_counts())

1. 생존자(1)와 사망자(0) 수:
Survived
0    549
1    342
Name: count, dtype: int64

In [11]:
# 2. 승객 나이의 평균 출력

print(f"\n2. 승객 평균 나이: {df['Age'].mean():.2f}세")

2. 승객 평균 나이: 29.70세

In [12]:
# 3. 1등급 승객 중 운임이 가장 높은 승객의 이름 출력

pclass1_richest_name = df.loc[df[df['Pclass'] == 1]['Fare'].idxmax()]['Name']
print(f"\n3. 1등급 최고 운임 승객: {pclass1_richest_name}")

3. 1등급 최고 운임 승객: Ward, Miss. Anna

In [13]:
# 4. 여성 승객의 수를 구하여 출력

female_passenger_count = len(df[df['Sex'] == 'female'])
print(f"\n4. 여성 승객 수: {female_passenger_count}명")

4. 여성 승객 수: 314명

In [14]:
# 5. 운임이 50 이상인 승객의 이름과 운임 출력

print("\n5. 운임 50 이상 승객:")
print(df[df['Fare'] >= 50][['Name', 'Fare']])

5. 운임 50 이상 승객:
                                                  Name      Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000
6                              McCarthy, Mr. Timothy J   51.8625
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
..                                                 ...       ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
867               Roebling, Mr. Washington Augustus II   50.4958
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

[161 rows x 2 columns]

In [15]:
# 6. 나이가 18세 미만인 승객들의 생존율을 계산하여 출력

survival_rate_under_18 = df[df['Age'] < 18]['Survived'].mean()
print(f"\n6. 18세 미만 생존율: {survival_rate_under_18:.2%}")

6. 18세 미만 생존율: 53.98%

In [16]:
# 7. 2등급 객실에 탑승한 승객의 평균 운임을 계산하여 출력

pclass2_avg_fare = df[df['Pclass'] == 2]['Fare'].mean()
print(f"\n7. 2등급 객실 평균 운임: ${pclass2_avg_fare:.2f}")

7. 2등급 객실 평균 운임: $20.66

In [17]:
# 8. 승객 중 나이가 가장 많은 사람의 나이와 이름을 출력

oldest_passenger = df.loc[df['Age'].idxmax()]
print(f"\n8. 최고령 승객: {oldest_passenger['Name']} ({oldest_passenger['Age']}세)")

8. 최고령 승객: Barkworth, Mr. Algernon Henry Wilson (80.0세)

In [18]:
# 9. S 항구에서 탑승한 승객의 수를 출력

s_passengers = (df['Embarked'] == 'S').sum()

print(f"S 항구에서 탑승한 승객의 수: {s_passengers}명")

S 항구에서 탑승한 승객의 수: 644명

In [19]:
# 10. 3등급 객실에 탑승한 남성 승객 중 생존자의 수를 출력

pclass3_male_survivors = len(df[(df['Pclass'] == 3) & (df['Sex'] == 'male') & (df['Survived'] == 1)])
print(f"\n10. 3등급 남성 생존자 수: {pclass3_male_survivors}명")

10. 3등급 남성 생존자 수: 47명

- 고급문제

In [20]:
# 1. 생존자(Survived)와 그렇지 않은 사람들의 `Pclass`(객실 등급)별 평균 나이를 각각 출력

print(df.groupby(['Survived', 'Pclass'])['Age'].mean())

Survived  Pclass
0         1         43.695312
          2         33.544444
          3         26.555556
1         1         35.368197
          2         25.901566
          3         20.646118
Name: Age, dtype: float64

In [21]:
# 2. `SibSp`(형제/배우자 수)가 3 이상인 승객들 중에서, `Fare`(운임) 상위 5명의 이름과 나이를 출력

print(df[df['SibSp'] >= 3].nlargest(5, 'Fare')[['Name', 'Age']])

                               Name   Age
27   Fortune, Mr. Charles Alexander  19.0
88       Fortune, Miss. Mabel Helen  23.0
341  Fortune, Miss. Alice Elizabeth  24.0
159      Sage, Master. Thomas Henry   NaN
180    Sage, Miss. Constance Gladys   NaN

In [22]:
# 3. 승객 중에서 `Age` 값이 결측치(NaN)인 사람들의 `Embarked`(탑승 항구)별 분포를 출력

print(df[df['Age'].isnull()]['Embarked'].value_counts())

Embarked
S    90
Q    49
C    38
Name: count, dtype: int64

In [23]:
# 4. 나이가 16세 미만이고, 혼자 탑승한(`SibSp == 0` and `Parch == 0`) 승객의 이름과 성별, 생존 여부를 출력

print(df[(df['Age'] < 16) & (df['SibSp'] == 0) & (df['Parch'] == 0)][['Name', 'Sex', 'Survived']])

                                     Name     Sex  Survived
14   Vestrom, Miss. Hulda Amanda Adolfina  female         0
22            McGowan, Miss. Anna "Annie"  female         1
731              Hassan, Mr. Houssein G N    male         0
777         Emanuel, Miss. Virginia Ethel  female         1
780                  Ayoub, Miss. Banoura  female         1
875      Najib, Miss. Adele Kiamie "Jane"  female         1

In [24]:
# 5. 1등급(Pclass == 1) 객실에 탑승한 승객들 중에서, 운임(Fare)이 평균보다 높은 사람들의 이름과 나이, 운임을 출력

pclass1_avg_fare = df[df['Pclass'] == 1]['Fare'].mean()
print(df[(df['Pclass'] == 1) & (df['Fare'] > pclass1_avg_fare)][['Name', 'Age', 'Fare']])

                                                  Name   Age      Fare
27                      Fortune, Mr. Charles Alexander  19.0  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)   NaN  146.5208
88                          Fortune, Miss. Mabel Helen  23.0  263.0000
118                           Baxter, Mr. Quigg Edmond  24.0  247.5208
195                               Lurette, Miss. Elise  58.0  146.5208
..                                                 ...   ...       ...
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  43.0  211.3375
802                Carter, Master. William Thornton II  11.0  120.0000
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  52.0   93.5000
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)   NaN   89.1042
856         Wick, Mrs. George Dennick (Mary Hitchcock)  45.0  164.8667

[66 rows x 3 columns]

In [25]:
# 6. 나이(Age), 객실 등급(Pclass), 운임(Fare) 값에 결측치가 없는 승객들만 대상으로, 각 등급별 평균 운임과 중앙값 운임을 출력

print(df.dropna(subset=['Age', 'Pclass', 'Fare']).groupby('Pclass')['Fare'].agg(['mean', 'median']))

             mean   median
Pclass
1       87.961582  69.3000
2       21.471556  15.0458
3       13.229435   8.0500

In [26]:
# 7. 승객들의 `Embarked` 별 평균 나이를 계산하고, 가장 많은 승객이 탑승한 항구를 기준으로 생존율을 계산하여 출력
print(df.groupby('Embarked')['Age'].mean())

survival_rate = df[df['Embarked'] == df['Embarked'].value_counts().idxmax()]['Survived'].mean()

print(survival_rate)

Embarked
C    30.814769
Q    28.089286
S    29.445397
Name: Age, dtype: float64
0.33695652173913043

In [27]:
# 8. 승객 중에서 여성(`Sex == 'female'`)이면서 30세 이상인 사람들의 생존율을 계산하여 출력

print(f"{df[(df['Sex'] == 'female') & (df['Age'] >= 30)]['Survived'].mean():.2%}")

80.70%

In [28]:
# 9. 동반한 형제 또는 배우자 수(`SibSp`)와 부모 또는 자녀 수(`Parch`)의 합이 3 이상인 승객들만을 대상으로, 그들의 생존율을 계산하여 출력

print(f"{df[(df['SibSp'] + df['Parch']) >= 3]['Survived'].mean():.2%}")

34.07%

In [29]:
# 10. `Cabin`(객실 번호) 정보가 있는 승객들만을 대상으로, 그들의 생존율을 객실 등급별로 구분하여 계산하여 출력

print(df[df['Cabin'].notna()].groupby('Pclass')['Survived'].mean())

Pclass
1    0.664773
2    0.812500
3    0.500000
Name: Survived, dtype: float64